* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

footer {
    font-size: 10px;
}

.chart-controls {
    margin-top: 50px;
}

.container {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back {
    margin-right: 50px;
}